src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log

# from gitignore
rxdb_*
clerk-cli-*
.env*
!.env.example
credentials*.json
token*.json
